* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;

}

h1 {
    text-align: center;
}

.full-width {
    width: 100%;
    padding: 8px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #00E2AE
}

.size {
    font-size: 20px;
}

#image-container {
    width: 50%;
}

#form-container {
    width: 50%;
    height: 100vh;
    display: flex;
    background-image: url("./img/signUp.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

#form {
    width: 50%;
    background-color: white;
    margin: auto;
    padding: 40px;
/*  */
}
.content-item{
    padding: 0 50px;
    margin: 20px 0;
}

.text-center{
    text-align: center;
}

#button{
    padding: 10px 90px;
    border: none;
    background:  linear-gradient(to left, #0cebeb, #20e3b2, #29ffc6);
}
.margin-line{
    margin-right: 30px;
}
#gender-container{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
.image{
    width: 100%;
}