* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 1px solid brown;
    background-color: rgb(243, 240, 235, 0.5);
}

.header {
    /* display: flex; */

}

#logo img {
    width: 100px;

}

.info {
    display: flex;
}

.name-logo {
    display: flex;
    align-items: center;
}

.info-sign {
    margin-right: 20px;
    margin-left: 4px;
}

.icon {
    margin-right: 12px;
}

#logo {
    padding: 0 32px;
}


.number {
    color: black;
    text-decoration: none;


}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.hotline {
    padding: 0 12px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0;
}

h2 {
    text-align: center;
}

.header-item {
    display: flex;
    justify-content: space-between;
}

.item-name {
    padding: 0 20px;
}

.method-container {
    display: flex;
    justify-content: space-evenly;
}

.method-img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.method-item {
    width:25%;
}

.method-header{
    text-align: center;
}

.img-container {
    width: 200px;
    height: 200px;
    margin: auto;
}
.method-info{
    text-align:justify;
}
.suggest-container{
    display: flex;
}
.suggest-img{
    width: 40%;
}
.suggest-info{
    width: 60%;
}